<html ng-app="listaTelefonica">
<head>
	<title>Agenda Contatos com AngularJs</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="lib/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>

</head>
<body class="bg"ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" placeholder="Pesquisar" ng-model="criteriosDeBusca"/>
		<table class="table">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th><a href="" ng-click="ordenarPor('operadora')">Operadora</a></th>
				<th><a href="" ng-click="ordenarPor('data')">Data</a></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criteriosDeBusca | orderBy:criterioOrdenacao:direcaoOrdenacao ">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
			</tr>	
		</table>
		<hr/>
		<form name="formContato">
			<input class="form-control" type="text" placeholder="Nome" name="nome" ng-model="contato.nome" ng-required="true" ng-minlength="3"/>
			<input class="form-control" type="text" placeholder="Telefone" name="telefone" ng-model="contato.telefone" ng-required="true" ng-minlength="8"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma Operadora</option>
			</select>
		</form>

		<div class="alert alert-danger" ng-show="formContato.nome.$error.minlength">
			<h6>O Nome deve ter no minimo 3 caracteres.</h6>
		</div>

		<div class="alert alert-danger" ng-show="formContato.telefone.$error.minlength">
			<h6>O Telefone deve ter no minimo 8 caracteres.</h6>
		</div>

		<div class="alert alert-danger" ng-show="formContato.nome.$error.required && formContato.nome.$dirty">
			<h6>Por favor, informe o Nome.</h6>
		</div>

		<div class="alert alert-danger" ng-show="formContato.telefone.$error.required && formContato.telefone.$dirty">
			<h6>Por favor, informe o telefone.</h6>
		</div>

		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="formContato.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="deletarContato(contatos)" ng-disabled="!isContatoSelecioando(contatos)">Deletar Contato</button>

	</div>
</body>
</html>














<!-- protocolo da duvida postada no site 1288123980775-->
